/* Arabic Font */
/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 */
 @font-face {
    font-family: 'Roboto';
    src: url('#{$FontPath}/Roboto/Roboto-Black.woff2') format('woff2'),
         url('#{$FontPath}/Roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';
    src: url('#{$FontPath}/Roboto/Roboto-Bold.woff2') format('woff2'),
         url('#{$FontPath}/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';
    src: url('#{$FontPath}/Roboto/Roboto-Medium.woff2') format('woff2'),
         url('#{$FontPath}/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';
    src: url('#{$FontPath}/Roboto/Roboto-Regular.woff2') format('woff2'),
         url('#{$FontPath}/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';
    src: url('#{$FontPath}/Roboto/Roboto-Light.woff2') format('woff2'),
         url('#{$FontPath}/Roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto';
    src: url('#{$FontPath}/Roboto/Roboto-Thin.woff2') format('woff2'),
         url('#{$FontPath}/Roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url('#{$FontPath}/DroidKufi/Regular/DroidKufi-Regular.eot');
    src: url('#{$FontPath}/DroidKufi/Regular/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'), 
        url('#{$FontPath}/DroidKufi/Regular/DroidKufi-Regular.woff2') format('woff2'), 
        url('#{$FontPath}/DroidKufi/Regular/DroidKufi-Regular.woff') format('woff'), 
        url('#{$FontPath}/DroidKufi/Regular/DroidKufi-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 700;
    src: url('#{$FontPath}/DroidKufi/Bold/DroidKufi-Bold.eot');
    src: url('#{$FontPath}/DroidKufi/Bold/DroidKufi-Bold.eot?#iefix') format('embedded-opentype'), 
        url('#{$FontPath}/DroidKufi/Bold/DroidKufi-Bold.woff2') format('woff2'), 
        url('#{$FontPath}/DroidKufi/Bold/DroidKufi-Bold.woff') format('woff'), 
        url('#{$FontPath}/DroidKufi/Bold/DroidKufi-Bold.ttf') format('truetype');
}

